.page-heading {
  position: relative;
  padding: 3rem 0rem;
  background-color: rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-position: center center;
}
.page-heading:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.page-heading .container {
  position: relative;
  z-index: 2;
}
.page-heading .text-content h1 {
  color: #fff;
}
.page-heading .text-content p {
  color: #fff;
}
section {
  padding: 5rem 0rem;
}

.section-heading {
  background: linear-gradient(to left, #7a7a7a 30%, #fff, #7a7a7a 30%);
}

.text-content p {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: normal;
  animation: typing 3s steps(50, end), blink-caret 1s step-end;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.imageku {
  -webkit-animation: spin 1s linear;
  -moz-animation: spin 1s linear;
  transform-style: preserve-3d;
  animation: 3d spin 1s linear;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotateY(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotateY(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
